body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #222;
}

h1, h2, h3 {
    color: #2c3e50;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: calc(
        100vw - 8px * 2
    );
    max-height: fit-content;
    margin: auto;
    background: #ff0000;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0px;
    margin: auto;
    flex-direction: column;

}