@import url('satoshi.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: 031016;
    color: #fff;
}

.container {
    background: rgba(0,0,0,0.4);
    color: #ffffff;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;;
    font-family: satoshi-medium;
    letter-spacing: 1.5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(25px);
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 22px;
  border: 5px solid transparent;
  background: linear-gradient(45deg,#090979,#01BAEE) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.bg-video {
    position: fixed;
    top: -2vh;
    left: -2vw;
    width: 104vw;
    height: 104vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    filter: blur(2px);
}

.element {
    width: 50%;
    padding: 20px;
    border: 2px solid red;
}  