@import url('satoshi.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: 031016;
    color: #fff;
}

.container {
    background: rgba(0,0,0,0.4);
    color: #ffffff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    position: relative;;
    font-family: satoshi-medium;
}


.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    filter: blur(5px);
}
